<body>
    <div class="foot">
        <div class="left">
            <h2>Stay in Touch</h2>
            <p>Please subscribe to our newsletter to get the latest news in your domain of interest. Don't forget to follow us on social networks!</p>
            <div class="social-links">
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="right">
            <input class="form-control" type="text" style="height: 40px;" placeholder="Subscribe our newsletter">
            <div class="d-grid mt-3"><button class="btn-primary" style="height: 40px;">Subscribe</button></div>
        </div><br>
    </div>
    <p style="text-align: center;">&copy; 2024 Recipe Haven</p>

</body>