<% layout("/layouts/boilerplate") %>

<body>
    <div class="about">
        <h2>About Recipe Haven</h2>
    </div>
    <div class="container">
       <div class="div1">
        <span>
            Welcome to 😊 Recipe Haven, your ultimate destination for discovering, sharing, and enjoying delicious recipes from around the world!
        </span><br>
       </div>

       <div class="div2"><br>
        <h3>About me</h3>
        <span>
            At Recipe Haven, we believe that cooking is an art meant to be shared. Whether you’re an experienced chef or just starting out in the kitchen, our platform is designed to inspire and connect food lovers everywhere. From mouth-watering appetizers to decadent desserts, you’ll find recipes for every occasion, taste, and skill level.
        </span><br>
       </div>

       <div class="div3">
        <br>
        <h3>Our Mission</h3>
        <span>Our mission is to create a community where home cooks and food enthusiasts can:</span><br>

        <ul>
            <br>
            <li><b>Discover </b>exciting new recipes from different cuisines and cultures.</li>
            <li><b>Share </b>their own culinary creations with others.</li>
            <li><b>Learn </b>new cooking techniques and tips.</li>
            <li><b>Connect </b>with like-minded people who share a passion for food.</li>
            <br>
        </ul>
        <span>We know that cooking is more than just following instructions—it’s about exploring flavors, creating memories, and nourishing both body and soul. That’s why Recipe Haven offers a platform for people to not only find their next great dish but also to share the stories behind the recipes.</span>
        <br>
       </div>

       <div class="div4"><br>
        <h3>Why Recipe Haven?</h3><br>

        <ul>
            <li><b>Diverse Recipes: </b>
                Explore an ever-growing collection of user-submitted recipes that span cultures and cuisines.</li>
            <li><b>User Friendly: </b>
                Easy-to-use tools for submitting, editing, and searching for recipes make cooking more fun and less stressful.
            </li>
            <li><b>Community Focused: </b>
                Connect with fellow food lovers through comments, ratings, and shared experiences.</li>
            <li><b>Quality And Trust: </b>
                Our community ensures that every recipe is tried, tested, and reviewed for quality and taste.</li>
        </ul>
       </div>
       <div class="div4">
        <span>Thank you for visiting Recipe Haven, where every recipe tells a story, and every dish is a new adventure. Whether you’re here to learn, share, or simply enjoy, we hope you find your perfect recipe!</span><br>
       </div><br>

       <h4><a href="/listings/about/privacy">Privacy and Policy</a></h4>
       <br><br>
    </div>
</body>