
<% layout("/layouts/boilerplate") %>
<body>

    <div class="container search">
        
        <form class="d-flex" role="search" onsubmit="searchDestination(event)">

            <input class="form-control me-2" type="search" id="searchInput" placeholder="Search with title of recipe">
            <button class="btn searhbtn" type="submit"  role="search" onsubmit="searchDestination(event)">Search</button>
          </form>

            <div class="row mt-3 error" id="noResultsMessage"  style="display: none;">
                <div class="alert alert-warning col-6 offset-3" role="alert">
                    <h1 style="text-align: center;">☹☹</h1>
                    <h4  style="text-align: center;">Recipe not found</h4>
                  </div>
                  <div class="row"></div>
                  <div class="row"></div>
            </div>
        
    </div>

    
        <% for(let listing of allListing){%>
                <div class="card col">
                    <a href="/listings/<%=listing._id%>">
                        <img src="<%=listing.image.url %>" class="card-img-top" alt="recipe image" style="height: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title"><b><%=listing.title %></b></h5>
                            <span class="card-text"><%=listing.description %></span>
                            <br>
                            <a href="#" class="btn btn-primary mt-3">Get Details</a>
                        </div>
                    </a><div class="row row-cols-lg-2 row-cols-md-1 row-cols-sm-1">
                </div>
            
        <%}%>
    </div>
    
</body>
</html>