<% layout("/layouts/boilerplate") %>

<body>
    <div class="about">
        <h2>Privacy Policy for Recipe Haven</h2>
    </div>
    <div class="container">
       <div class="div1">
        <span>
            At Recipe Haven, we value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and safeguard your data when you use our website, located at www.recipehaven.com.

        </span><br>
       </div>

       <div class="div2"><br>
        <h3>Information We Collect</h3>
        <span>
            We may collect the following types of information:
             </span><br>
             <ul>
                <br>
                <li><b>Personal Information: </b>When you sign up for an account, submit a recipe, or leave a comment, we collect information such as your name, email address, and any other information you voluntarily provide.</li>
                <li><b>Non Personal Information: </b>We may also collect non-personal information such as browser type, IP address, device type, and usage data to improve your experience on the site.</li>
                <br>
            </ul>
       </div>

       <div class="div3">
        <h3>How We Use Your Information</h3><br>
        <span>The information we collect is used for the following purposes:

        </span><br>

        <ul>
            
            <li><b>Account Management:  </b>To create and manage your account on Recipe Haven.</li>
            <li><b>Recipe Submission and Interaction: </b>To allow you to submit, share, and interact with recipes and other users on the platform.</li>
            <li><b>Communication: </b>To send you updates, newsletters, or respond to inquiries, if you’ve opted to receive such communications.
            </li>
            <li><b>Improving User Experience: </b>To analyze user behavior and preferences, helping us to enhance our website and services.
            </li>
        </ul>
        <br>
       </div>

       <div class="div4">
        <h3>Cookies</h3>
        <span>
            Recipe Haven uses cookies to enhance your browsing experience. Cookies are small files stored on your device that help us remember your preferences and track site usage. You can control the use of cookies through your browser settings.


        </span><br>
    </div>

       <div class="div4"><br>
        <h3>Third Party Services</h3>
        <span>
            We may use third-party service providers to assist with certain aspects of our website, such as hosting, analytics, and email delivery. These providers have access to your information only to perform these tasks on our behalf and are obligated to protect your information in accordance with this Privacy Policy.</span><br>
       </div><br>

       <div class="div4"><br>
        <h3>Data Security</h3>
        <span>
            We take the security of your personal information seriously. We implement industry-standard security measures to protect your data from unauthorized access, alteration, disclosure, or destruction. However, no method of transmission over the internet is 100% secure, and we cannot guarantee absolute security.
        </span><br>
       </div>

       <div class="div4">
        <br>
        <h3>Your Rights</h3>
        <ul>
            <li><b>Access: </b>the personal information we hold about you.</li>
            <li><b>Update and Correct: </b>inaccuracies in your information.</li>
            <li><b>Delete: </b>your account and any associated data.</li>
            <li><b>OPT-OUT: </b>of receiving promotional communications from us at any time by following the unsubscribe instructions provided in emails or by contacting us directly.
            </li>
        </ul>
       </div>

       <div class="DIV4">
            
            <h3>Changes to this privacy</h3>
            <span>
                We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. When we do, we will post the updated policy on this page and revise the "Last Updated" date at the top.
            </span>
       </div>

       <div class="div4"><br>
        <h3>Conatct us</h3>
        <span>
            If you have any questions or concerns about our Privacy Policy or how your data is handled, please contact us at:<br>

            <b>Email: </b>privacy@recipehaven.com
            <br><br>


        </span>
       </div>
    </div>
</body>