<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3 error">
        <div class="alert alert-danger col-6 offset-3" role="alert">
            <h1 style="text-align: center;">☹☹</h1>
            <h4  style="text-align: center;"><%=message%></h4>
          </div>
    </div>
</body>