<% layout("/layouts/boilerplate") %>

<div class="error-page">
  <div>
    <div class="error-code">404</div>
    <h2>Something went wrong</h2>
    <p><%= message || 'The page you are looking for could not be found.' %></p>
    <div class="d-flex gap-3 justify-content-center flex-wrap">
      <a href="/" class="btn btn-primary btn-lg">
        <i class="fa-solid fa-house"></i> Go Home
      </a>
      <a href="/listings" class="btn btn-outline-secondary btn-lg">
        <i class="fa-solid fa-compass"></i> Browse Recipes
      </a>
    </div>
  </div>
</div>
